.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.5rem;
  height: 2.3125rem;
  border-radius: 0.5rem;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  letter-spacing: 0%;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: #3369f3;
  color: #ffffff;
  border: none;
}

.secondary {
  background: none;
  border: none;
  color: #3369f3;
}

.warning {
  background: none;
  border: none;
  color: #ff0000;
}
